.main-nav {
  border-bottom: 2px solid #ccc;
}
.main-menu {
  padding: 5px;
  margin-bottom: 1px;
  list-style-type: none;
  border-bottom: 1px solid #ccc;

  & > li {
    display: inline-block;
  }
  .menu-item{
    display: block;
    margin-right: 10px;
    &:hover {
      background-color: transparent;
    }
  }
}